/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.pop-up-message-window {
  height: 15em;
  width: 45em;
  display: none;
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#confirm {
  display: block;
  margin: 0 auto;
}

.container {
  display: block;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-window {
  display: flex;
  justify-content: space-evenly;
  height: 78%;
  width: 98%;
}

.window {
  border: 1px solid silver;
  background: blue;
  border-radius: 5px;
  margin: 15px;
}

.enemy-env-window {
  display: flex;
  justify-content: space-evenly;
  width: 66%;
  background-color: black;
}

.enemy {
  text-align: center;
  border: 1px solid red;
}

.player-env-window {
  width: 33%;
  background-color: black;
}

.character {
  border: 1px solid green;
}

.hp-or-tp-horizontal {
  display: inline;
}

.lower-container {
  display: flex;
}

.message-window {
  width: 62%;
  height: 6em;
}

.command-window {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.command-window h3:hover {
  color: red;
  cursor: pointer;
}