/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: block;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-window {
  display: flex;
  justify-content: space-evenly;
  height: 78%;
  width: 98%;
}

.window {
  border: 1px solid silver;
  background: blue;
  border-radius: 5px;
  margin: 15px;
}

.enemy-env-window {
  width: 66%;
  background-color: black;
}

.player-env-window {
  width: 33%;
  background-color: black;
}

.hp-or-tp-horizontal {
  display: inline;
}

.message-window {
  width: 98%;
  height: 6em;
}